:root {
  --primary-color: rgb(30, 61, 38);
  --primary-dark: rgb(9, 37, 13);
  --primary-light: rgb(172, 201, 176);
  --background: #f1f1f4;
  --text-dark: #333;
  --text-light: #f1f1f1;
  --white: #ffffff;
  --border-radius: 8px;
  --shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(var(--background) 70%, var(--primary-dark)150%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* ---------- Navigation ---------- */
nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}

nav a {
  color: var(--text-dark);
  text-decoration: none;
  margin-right: 2rem;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
}

nav a:hover {
  color: var(--text-light);
  background-color: var(--primary-dark);
  animation: hoverEffect 0.3s forwards;
}

.active {
  background-color: var(--primary-dark);
  color: var(--text-light);
  text-decoration: underline;
}

/* ---------- Main Content ---------- */

main {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3 {
  color: var(--primary-dark);
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 100;
}